/* Custom page CSS
-------------------------------------------------- */

body, html {
    background-color: #007fad;
    background-image: url("https://www.transparenttextures.com/patterns/merely-cubed.png");
}
body > .container {
    padding: 60px 15px 0;
}
.links {
    padding: 200px 0px 0;
}
.container .text-muted {
  margin: 20px 0;
}

code {
    font-size: 80%;
}

a {
    color: inherit;
}
