/* Custom page CSS
-------------------------------------------------- */

body, html {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

code {
    font-size: 80%;
}

a {
    color: inherit;
}

.links {
    padding: 200px 0px 0;
}

.intro-text {
    font-size: 120px
}
